.boardgames {
    width: 100%;
    margin: 0 auto;
}

.boardgame-banner {
    position: relative;
    text-align: center;
    color: white;
}

.boardgame-img {
	width: 100%;
	height: 350px;
	object-fit: cover;
	object-position: 50% 50%;
}
.boardgame-title {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 450%;
    text-shadow: 5px 5px #1d1616;
    font-family: "Magic";
}

.boardgames p {
    font-family: Helvetica, sans-serif;
    width: 40%;
    margin: 2% auto;
}

.wrapper-card {
	position: relative;
	z-index: 1;
	overflow: hidden;
	height: 350px;
	width: 350px;
}
.card-catan {
	width: 350px;
	height: 350px;
	background-color: #292B33;
	background-image: url('../imgs/catangame.jpg');
	background-size: 100% 92%;
    background-repeat: no-repeat;
	cursor: pointer;
    margin: 8% auto;
}


.card-munchkin {
	width: 350px;
	height: 350px;
	background-color: #292B33;
	background-image: url('../imgs/munchkin.jpg');
	background-size: 100% 95%;
    background-repeat: no-repeat;
	cursor: pointer;
    margin: 8% auto;
}

.card-betrayl {
	width: 350px;
	height: 350px;
	background-color: #292B33;
	background-image: url('../imgs/betrayl.jpg');
	background-size: 100% 92%;
    background-repeat: no-repeat;
	cursor: pointer;
    margin: 8% auto;
}
.card-horizon {
	width: 350px;
	height: 350px;
	background-color: #292B33;
	background-image: url('../imgs/horizon.jpg');
	background-size: contain;
    background-repeat: no-repeat;
	cursor: pointer;
    margin: 8% auto;
}
.card-waterdeep {
	width: 350px;
	height: 350px;
	background-color: #292B33;
	background-image: url('../imgs/lordsofwaterdeep.jpg');
	background-size: 100% 94%;
    background-repeat: no-repeat;
	cursor: pointer;
    margin: 8% auto;
}
.card-allies {
	background-color: #292B33;
	background-image: url('../imgs/axisallies.jpg');
	background-size: 100% 70%;
    background-repeat: no-repeat;
	cursor: pointer;
    margin: 8% auto;
}

.card__content-board {
	position: relative;
	padding: 20% 0 50%;
	color: white;
    background-color: rgba(0,0,0, 0.6);
	font-family: Helvetica, sans-serif;
	font-weight: 300;
	text-align: center;
	opacity: 0;
	z-index: 5;
    height: 100%;
	transition: opacity .9s;
}

.card__content-board:hover {
    opacity: 1;
}

/* mobile media query */
@media (min-width: 320px) and (max-width: 480px) {
    .boardgames p {
		font-size: 15px;
		width: 80%;
		margin: 20% auto;
	}
	.boardgame-img {
		height: 20%;
	}
	.boardgame-title {
		font-size: 400%;
	}
	.wrapper-card {
		height: 250px;
		width: 250px;
	}
	.card-catan {
		height: 250px;
		width: 230px;
		font-size: 13px;
	}
	.card-munchkin {
		height: 250px;
		width: 230px;
		font-size: 13px;
	}
	.card-betrayl {
		height: 250px;
		width: 220px;
	}
	.card-waterdeep {
		height: 250px;
		width: 220px;
	}
	.card-horizon {
		height: 270px;
		width: 230px;
	}
	.card-allies {
		height: 340px;
		width: 220px;
	}
	.card__content-board {
		overflow: auto;
	}
	
	
}

/* tablet media query */
@media (min-width: 481px) and (max-width: 768px) {
    .boardgames p {
		font-size: 15px;
		width: 90%;
		margin: 10% auto;
	}
	.card-catan {
		width: 90%;
		font-size: 13px;
	}
	.card-munchkin {
		width: 90%;
		font-size: 13px;
	}
	.card-betrayl {
		width: 90%;
		font-size: 13px;
	}
	.card-waterdeep {
		width: 90%;
		font-size: 13px;
	}
	.card-allies {
		width: 90%;
		font-size: 13px;
	}
	.card-horizon {
		width: 90%;
		font-size: 13px;
	}

}

/* standard screen query */
@media (min-width: 769px) and (max-width: 1024px) {
    
}