.container-contact {
    height: 60%;
    width: 40%;
    box-shadow: 0 00px 80px 0 rgba(226, 24, 24, 0.3);
    border-radius: 5%;
    margin: 6% auto;
    margin-bottom: 10%;
    padding: 5% 10% 5% 10%;
    font-family: "Magic";
}

.input-forms {
    padding: 1.5vh;
    width: 40vh;
}

button {
    margin: 5%;
    box-shadow: 0 0px 20px 0 rgba(226, 24, 24, 0.6);
}

/* mobile media query */
@media (min-width: 320px) and (max-width: 480px) {
    .input-forms {
        padding: 2%;
        width: 100%;
    }
    .container-contact {
        width: 100%;
        
    }
}

/* tablet media query */
@media (min-width: 481px) and (max-width: 768px) {
    .input-forms {
        padding: 2%;
        width: 100%;
    }
    .container-contact {
        width: 100%;
        
    }
}

/* standard screen query */
@media (min-width: 769px) and (max-width: 1024px) {
    .input-forms {
        padding: 2%;
        width: 100%;
    }
    .container-contact {
        width: 100%;
        
    }
}