.footer {
    height: 5%;
    background-color: rgb(51, 54, 58);
    color: white;
    text-align: center;
}

.foot-note {
    margin: 0 auto;
    text-align: center;

}

.footer img {
    height: 40px;
    width: 40px;
    filter: invert(100%);
    margin-top: 0.5%;
}

/* mobile media query */
@media (min-width: 320px) and (max-width: 480px) {
    .foot-note {
        font-size: 12px;
    }
    
}

/* tablet media query */
@media (min-width: 481px) and (max-width: 768px) {
    
}

/* standard screen query */
@media (min-width: 769px) and (max-width: 1024px) {
    
}