.footer {
    height: 80px;
    background-color: rgb(51, 54, 58);
    color: white;
    text-align: center;
}

.foot-note {
    margin: 0 auto;
    text-align: center;

}

.footer img {
    height: 40px;
    width: 40px;
    filter: invert(100%);
    margin-top: 0.5%;
}
