

.collection-container {
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
}

.col-title {
    font-family: "Magic";
    text-align: center;
    margin: 5% auto;
    font-size: 50px;
    border-bottom: solid rgb(202,209,216) 1px;
    width: 50%;
}

.information {
    width: 50%;
    margin: 5% auto;
    font-family: Helvetica, sans-serif;
}

.fade-in {
    animation: fade ease 3s;
}

.store-policy {
    width: 30%;
}

@keyframes fade {
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 100%;
    }
}

/* mobile media query */
@media (min-width: 320px) and (max-width: 480px) {
    .collection-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .yugioh > img{
        height: 150px;
    }
    .magic > img{
        height: 150px;
    }
    .pokemon > img{
        height: 150px;
    }
    .col-title {
        width: 90%;
    }
    .information {
        width: 80%;
        font-size: 15px;
    }
    .store-policy {
        width: 90%;
    }
}

/* tablet media query */
@media (min-width: 481px) and (max-width: 768px) {
    .collection-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .yugioh > img{
        height: 150px;
    }
    .magic > img{
        height: 150px;
    }
    .pokemon > img{
        height: 150px;
    }
    .col-title {
        width: 90%;
    }
    .information {
        width: 80%;
        font-size: 15px;
    }
    .store-policy {
        width: 80%;
    }
}

/* standard screen query */
@media (min-width: 769px) and (max-width: 1024px) {
    .collection-container {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .yugioh > img{
        height: 250px;
    }
    .magic > img{
        height: 250px;
    }
    .pokemon > img{
        height: 250px;
    }
    .col-title {
        width: 90%;
    }
    .information {
        width: 80%;
        font-size: 16px;
    }
    .store-policy {
        width: 60%;
    }
}