@font-face {
    font-family: "Magic";
    src: url('./magicfont.ttf') format('truetype')
}

.navbar {
    background-color: rgb(51, 54, 58);
    color: rgb(226, 226, 226);
    height: 75px;
    display: flex;
    align-items: center;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.nav-title {
    float: left;
    margin-left: 5%;
    font-family: "Magic";
}

.nav-items {
    margin-right: 10%;
    font-family: Helvetica, sans-serif;
    font-size: 14px;
}

.nav-items > #nav-item{
    color: rgb(202,209,216);
    text-decoration: none;
    padding: 10px;
}

@keyframes slideInFromLeft {
    0% 
    {

      transform: translateX(-100%);
    }
    100% 
    {
      transform: translateX(0);
    }
  }