.navbar {
    background-color: black;
    color: white;
    height: 75px;
    display: flex;
    align-items: center;
}

.nav-title {
    float: left;
    margin-left: 5%;
}

.nav-items {
    margin-right: 10%;
}

.nav-items > #nav-item{
    color: white;
    text-decoration: none;
    padding: 10px;
}