.shop-items {
    margin: 20% auto;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
}

.shop-titles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    justify-content: space-around;
    padding: 1vh;
    font-family: "Magic";
    border-bottom: solid 1px rgb(202,209,216);;
    margin-left: 10vh;
}

.links-shop > img{
    margin: 6vh;
    margin-left: 5vh;
    box-shadow: 5px 20px 20px 5px rgba(255, 255, 255, 0.2);
    background-color: white;
    width: 34vh;
    height: 34vh;
    border-radius: 10%;
    padding: 2%;
}

/* mobile media query */
@media (min-width: 320px) and (max-width: 480px) {
    .shop-titles {
        flex-wrap: wrap;
        border-bottom: none;
    }
    .shop-titles > a > h2{
        font-size: 20px;
        margin: 2vh;
        color: rgb(202,209,216) !important;
        border-bottom: solid 1px rgb(202,209,216);;

    }
    .links-shop {
        display: flex;
        margin-left: -25%;
        
    }
    .shop-items {
        margin: 0% auto;
        margin-bottom: 1%;
        justify-content: center;
    }

    .links-images > a > img{
        display: none;
    }
    
    
}

/* tablet media query */
@media (min-width: 481px) and (max-width: 768px) {
    .shop-titles {
        flex-wrap: nowrap;
        border-bottom: none;
        margin-left: 25%;
    }
    .shop-titles > a > h2{
        font-size: 25px;
        margin: 2vh;
        color: rgb(202,209,216) !important;
        border-bottom: solid 1px rgb(202,209,216);;

    }
    .links-shop {
        margin-left: -25%;
        
    }
    .shop-items {
        margin: 0% auto;
        margin-bottom: 10%;
        justify-content: center;
    }

    .links-images {
        display: flex;
        justify-content: center;
    }

    .links-images > a> img {
        height: 10vh;
        width: 20vh;
       padding-left: 50%;
    }
    
}

/* standard screen query */
@media (min-width: 769px) and (max-width: 1024px) {
    .shop-titles {
        flex-wrap: nowrap;
        border-bottom: none;
        margin-left: 25%;
    }
    .shop-titles > a > h2{
        font-size: 25px;
        margin: 7vh;
        margin-left: -25%;
        color: rgb(202,209,216) !important;
    }
    .links-shop {
        margin-left: -10%;
        
    }
    .shop-items {
        margin: 0% auto;
        margin-bottom: 10%;
        justify-content: center;
    }

    .links-images {
        display: flex;
        justify-content: center;
    }

    .links-images > a> img {
        height: 25vh;
        width: 30vh;
       padding-left: 18%;
    }
}

@media (min-width: 1025px) {
    .shop-titles {
        flex-wrap: nowrap;
        border-bottom: none;
        margin-left: 25%;
    }
    .shop-titles > a > h2{
        font-size: 25px;
        margin: 7vh;
        margin-left: -25%;
        color: rgb(202,209,216) !important;
    }
    .links-shop {
        margin-left: -10%;
        
    }
    .shop-items {
        margin: 0% auto;
        margin-bottom: 10%;
        justify-content: center;
    }

    .links-images {
        display: flex;
        justify-content: center;
    }

    .links-images > a> img {
        height: 25vh;
        width: 30vh;
       padding-left: 18%;
    }
}