.shop-items {
    margin: 20% auto;
    margin-bottom: 5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    justify-content: space-around;
}

.shop-titles {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-items: center;
    justify-content: space-around;
    padding: 1vh;
    font-family: "Magic";
    border-bottom: solid 1px rgb(202,209,216);;
    margin-left: 10vh;
}

.links-shop > img{
    margin: 6vh;
    margin-left: 5vh;
    box-shadow: 5px 20px 20px 5px rgba(255, 255, 255, 0.2);
    background-color: white;
    width: 34vh;
    height: 34vh;
    border-radius: 10%;
    padding: 2%;
}

/* mobile media query */
@media (min-width: 320px) and (max-width: 480px) {
    
}

/* tablet media query */
@media (min-width: 481px) and (max-width: 768px) {
    
}

/* standard screen query */
@media (min-width: 769px) and (max-width: 1024px) {
    
}