.supplies-main {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.supplies-intro {
    width: 30%;
    margin: auto;
    margin-top: 0%;
}

.supplies-intro > h1 {
    font-family: "Magic";
    text-align: center;
    margin: 0 auto;
}

.supplies-dice {
    display: flex;
    flex-flow: row nowrap;
    /* align-content: space-between; */
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%; 
    width: 80%;
}

.dice-main {
    width: 40%;
    padding-right: 10%;
    height: auto;
    font-size: 18px;
}

.dice-main > h2 {
    font-size: 50px;

}

.dice-img {
   width: 45%;
   height: 30%;
   text-align: center;
   overflow: hidden;
}

.dice-img > img {
    width: 100%;
    height: 100%;
    margin: -53% 0px 0px 0px;
}

.supplies-main {
    text-align: center;
    font-size: 18px;

}

.dice-main > h2 {
    font-size: 50px;
    font-family: "Magic";
    color: rgba(226, 24, 24, 0.6);
}

.card-accesories {
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 5%;
    width: 80%;
}

.car-acc-main {
    padding-right: 10%;
    font-size: 18px;
    width: 50%;
    height: auto;
}

.car-acc-main > h2 {
    font-size: 50px;
    font-family: "Magic";
    color: rgba(226, 24, 24, 0.6);
}

.car-acc-img {
    width: 50%;
    height: 50%;
    text-align: center;
    overflow: hidden;
 }
 
 .car-acc-img > img {
     width: 100%;
     height: 100%;
     margin: 0% -40% 0 -50%;
    }

.card-storage {
    display: flex;
    flex-flow: row nowrap;
    align-content: space-between;
    justify-content: space-evenly;
    padding-top: 5%;
    padding-bottom: 10%;
    width: 80%;
}

.storage-main {
    padding-right: 10%;
    width: 50%;
    height: 100%;
    font-size: 18px;
}

.storage-main > h2 {
    font-family: "Magic";
    color: rgba(226, 24, 24, 0.6);
    font-size: 50px;

}

.storage-img {
    width: 50%;
    height: 50%;
    text-align: center;
    overflow: hidden;
 }
 
 .storage-img > img {
     width: 100%;
     height: 100%;
     margin: -40% -2% -20% -2%;
 }

 /* mobile media query */
@media (min-width: 320px) and (max-width: 480px) {
    .card-accesories {
        display: block;
        width: 100%;
        margin: 0 auto;
    }
    .card-storage {
        display: block;

        width: 100%;
        margin: 0 auto;
    }
    .supplies-dice {
        display: block;

        width: 100%;
        margin: 0 auto;
    }
    .storage-img {
        width: 100%;
    }
    .car-acc-img {
        width: 100%;
    }
    .dice-img {
        width: 100%;
    }
    .dice-main > h2 {
        font-size: 35px;
    }
    .storage-main {
        width: 100%;
        height: 100%;
        font-size: 16px;
        padding: 0;
    }
    .storage-main > h2 {
        font-size: 35px;
    }

    .car-acc-main {
        padding: 0;
        font-size: 16px;
        width:100%;
        height: auto;
    }
    
    .car-acc-main > h2 {
        font-size: 35px;
    }

    .dice-main {
        padding: 0;
        width: 100%;
        height: auto;
        font-size: 16px;
    }
    .supplies-intro {
        width: 90%;
        margin: auto;
        margin-top: 4%;
    }
}


/* tablet media query */
@media (min-width: 481px) and (max-width: 768px) {
    .dice-main > h2 {
        font-size: 35px;
    }
    .storage-main {
        padding-right: 10%;
        width: 50%;
        height: 100%;
        font-size: 15px;
    }
    .storage-main > h2 {
        font-size: 35px;
    }

    .car-acc-main {
        padding-right: 0%;
        font-size: 15px;
        width:50%;
        height: auto;
    }
    
    .car-acc-main > h2 {
        font-size: 35px;
    }

    .dice-main {
        width: 60%;
        padding-right: 10%;
        height: auto;
        font-size: 15px;
    }
    .supplies-intro {
        width: 50%;
        margin: auto;
        margin-top: 2%;
    }
}