body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(14, 17, 22);
    color: rgb(202,209,216);
}

.carousel-container {
    height: 2%;
    width: 75%;
    margin: 2% auto;
   
}

.carousel-caption {
    margin: 0 auto;
    width: 50%;
    height: 25%;
}


.carousel-inner > .carousel-item > img {
    height: 20%;
    border-radius: 2%;
}

.tourney-info {
    margin: 0 auto;
    width: 60%;
    margin-left: 10%;
}

.tourney-info h3, .tourney-info h4{
    font-family: "Magic";
}

.calendar {
    margin: 5% auto;
    display: flex;
    justify-content: center;
}

.conduct {
    width: 90%;
    margin: 0 auto;
}

.conduct ul {
    list-style: none;
}

.conduct > ul > li {
    padding: 1vh;
    margin: 1vh;
}

.conduct img {
    padding: 1vh;
    filter: invert(100%);
}

.conduct > h2{
    text-align: center;
    font-family: "Magic";
}

.store-policy {
    margin: 0 auto;
    margin-bottom: 7%;
    width: 60%;
    text-align: center;
    border-color: rgb(49,54,60);
    border: solid 1px;
    border-radius: 2%;
    padding: 5%;
}

.store-policy > h3 {
    font-family: "Magic";
}

.page-end {
    clear: both;
    width: auto;
    height: 50px;
    background: url('../imgs/Die-Red.png') center center no-repeat;
    background-size: auto 50px !important;
    margin: 20px 0 0 0;
    position: relative;
}

.page-end:before{
    content: "";
    position: absolute;
    height: 1px;
    right: 56%;
    left: 0;
    bottom: 50%;
    border-bottom: 1px solid white;
}

.page-end:after{
    content: "";
    left: 56%;
    right: 0;
    position: absolute;
    height: 1px;
    bottom: 50%;
    border-bottom: 1px solid white;
}

/* mobile media query */
@media (min-width: 320px) and (max-width: 480px) {
    .carousel-container {
        display: none;
    }
    .tourney-info {
        text-align: center;
        top: 50%;
        left: 50%;
        width: 80%;
    }

    .conduct {
        width: 100%;
    }
}


/* tablet media query */
@media (min-width: 481px) and (max-width: 768px) {
    .carousel-container {
        display: none;
    }
    .tourney-info {
        /* text-align: center; */
        top: 50%;
        left: 50%;
        width: 80%;
    }
    .conduct {
        width: 100%;
    }
}

/* standard screen query */
@media (min-width: 769px) and (max-width: 1024px) {
    .conduct {
        width: 90%;
    }
}