body {
    font-family: Helvetica, sans-serif;
    background-color: rgb(14, 17, 22);
    color: rgb(202,209,216);
}

.carousel-container {
    height: 200px;
    width: 75%;
    margin: 2% auto;
}

.carousel-caption {
    margin: 0 auto;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.carousel-caption:hover {
    opacity: 1;
    background-color: rgba(14, 17, 22, 0.6);
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


.carousel-inner > .carousel-item > img {
    height: 525px;
}

.tourney-info {
    margin: 0 auto;
    width: 60%;
    margin-left: 10%;
}

.tourney-info h3, .tourney-info h4{
    font-family: "Magic";
}

.calendar {
    margin: 5% auto;
    display: flex;
    justify-content: center;
}

.conduct {
    width: 40%;
    margin: 0 auto;
}

.conduct ul {
    list-style: none;
}

.conduct > ul > li {
    padding: 1vh;
    margin: 1vh;
}

.conduct img {
    padding: 1vh;
    filter: invert(100%);
}

.conduct > h2, .conduct > h3 {
    text-align: center;
    font-family: "Magic";
}